@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!--Service-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">NUESTROS SERVICIOS</h3>
            <h4 class="section-subheading text-muted"></h4>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted"></p>
            </div>
        </div>
    </div>
</section>
<!--Catalogo de Auto-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Nuestras Marcas</h3>
            <h4 class="section-subheading text-muted">Somos distrifuidores de la mejores marca de automovil</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="porfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">HONDA</div>
                        <div class="portfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="porfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">MERCEDES BENZ</div>
                        <div class="portfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="porfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">ACURA</div>
                        <div class="portfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="porfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">BORSUAGUE</div>
                        <div class="portfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="porfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">PEUGEOT</div>
                        <div class="portfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="porfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">MAZDA</div>
                        <div class="portfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="porfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="porfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">TOYOTA</div>
                        <div class="portfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="porfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">LEXUS</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">FIAT</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">KIA</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">AUDI</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">INFINITI</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">BMW</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">HYUNDAI</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">SUZUKI</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">MINI</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">RENAULT</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">CHEVROLET</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">SUBARU</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">PORSCHE</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">TESLA</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> LAND ROVER</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">ISUZU</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">NISSAN</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">JEEP</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">VOLVO</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="porfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">MITSUBISHI</div>
                        <div class="porfolio-caption-subheading text-muted">Más...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Acerca de nuestro Dealer</h3>
            <h4 class="section-subheading text-muted">Somos tu mejor elección a la hora de adquirir tu auto</h4>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>MISION</h4>
                        <h4 class="subheading">Nuestra Misión Es...</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Nuestra misión es brindar una experiencia excepcional de compra de automóviles para cada cliente que cruza nuestras puertas. 
                            Entendemos que la compra de un vehículo es una decisión importante y nos esforzamos por hacer que el proceso sea lo más fluido y placentero posible. 
                            Nuestro equipo de representantes de ventas conocedores y amigables está comprometido a escuchar sus necesidades y ayudarlo a encontrar el automóvil perfecto que se ajuste a su presupuesto y estilo de vida.</p>
                        @*<p class="text-muted">
                            Creemos en la transparencia y la honestidad, por eso brindamos información detallada sobre nuestros vehículos, incluyendo su historial, estado y precio. 
                            Nuestro concesionario ofrece una amplia selección de autos nuevos y usados, lo que garantiza que haya algo para todos.
                            Ya sea que esté buscando un sedán elegante, un SUV espacioso o un vehículo familiar confiable, tenemos las opciones para satisfacer sus necesidades.             
                        </p>
                        <p class="text-muted">Además, 
                            nuestro compromiso con la satisfacción del cliente no termina una vez que sale del lote. 
                            Contamos con un departamento de servicio dedicado que cuenta con técnicos calificados que se asegurarán de que su vehículo permanezca en excelentes condiciones durante toda su vida útil. 
                            Desde el mantenimiento de rutina hasta las reparaciones, 
                            ofrecemos un servicio confiable y eficiente para que su automóvil funcione sin problemas. 
                            En MAT Car Dealership, nos esforzamos por construir relaciones duraderas con nuestros clientes brindando un servicio excepcional y superando las expectativas en cada paso del proceso de compra de un automóvil.
                        </p>*@
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>VISION</h4>
                        <h4 class="subheading">Nuestra Visión Es...</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"></p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>VALORES</h4>
                        <h4 class="subheading">Nuestros Valores Son...</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"></p></div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Contact-->
<section class="page-section" id="contact">
    <div class="container">
            <div class="text-center">
                <h3 class="section-heading text-uppercase">CONTATANOS</h3>
                <h4 class="section-subheading text-muted">Te responderemos con la mayor brevedad.</h4>
                <h5 class="section-subheading text-muted">Te brindaremos una asesoría con veracidad. Para que realice tu mejor elección.</h5>
            </div>
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" id="name" type="text" placeholder="Nombre Completo (*)" required="required" data-validation-required-message="Por favor, Ingrese su nombre completo"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email" type="text" placeholder="Correo Electrónico (*)" required="required" data-validation-required-message="Por favor, Ingrese su correo electrónico"/>
                           <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="phone" type="tel" placeholder="Tel. o Cel. (*)" required="required" data-validation-required-message="Por favor, Ingrese su número de Tel.: o Cel.:"/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-md-0">
                            <div class="form-group form-group-textarea mb-md-0">
                                <textarea class="form-control" id="message" placeholder="Escribe tu mensaje aquí... (*)" required="required" data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                </div>
                <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                    </div>
            </form>
        </div>
</section>
