@model DealerWebApp.DealertWeb.Models.MBrands

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">HONDA</h3>
            <h4 class="section-subheading text-muted">La inovación en el camino</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-hover">
                        <img class="img-fluid" src="@Model.UrlImg" alt="" />
                    </div>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.NameBrand</div>
                        <div class="portfolio-caption-subheading text-muted">Illustration</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
